.donut-chart-container {
  width: 200px;
  height: 200px;
}

.donut-chart-svg {
  width: 100%;
  height: 100%;
}

.donut-chart-fill {
  fill: none;
  stroke-width: 40;
}

.donut-chart-fill:first-child {
  stroke: #026184;
}

.donut-chart-fill:last-child {
  stroke: 073647;
}

.donut-chart-text {
  font-size: 24px;
  font-weight: bold;
  text-anchor: middle;
  fill: #fff;
}
