.card-performance__title {
  background-color: black;
  padding: 8px;
}

.card-performance__title p {
  margin-bottom: 0px;
}

.card-performance__donut-chart {
  background-color: #202527;
}

.card-performance__current-target-text {
  font-size: 12px;
}

.card-performance__target-text {
  font-size: 10px;
  color: #026184;
}
